body {
	background: #eef2ff url(/img/fade-blue.png) top center repeat-x;
	margin: 0;
}

.container {
	text-align: center;
	margin-top: 20px;
}

.error {
	background-color: red;
	color: white;
	padding: 5px;
}

.status {
	position: fixed;
	z-index: 1;
	top: 5px;
	right: 5px;
	padding: 5px;
	background-color: #d6daf0;
	border: 1px solid #b7c5d9;
	border-top: none;
	border-left: none;
}

.invisble {
	display: none;
}

.head {
	vertical-align: middle;
	display: inline-block;
	margin-top: -10px;
}

.special .name {
	color: purple;
}

.name {
	color: #117743;
	word-wrap: break-word;
}

.ideaText {
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 5px;
}

.vote {
	position: relative;
	float: right;
}

.vote .agree {
	display: inline-block;
}

.vote .agree:hover {
	color: #117743;
	font-weight: bold;
	cursor: pointer;
}

.vote .disagree {
	display: inline-block;
}

.vote .disagree:hover {
	color: #d00;
	font-weight: bold;
	cursor: pointer;
}

.special {
	background-color: #edd5ed !important;
}

.idea {
	background-color: #d6daf0;
	border: 1px solid #b7c5d9;
	border-top: none;
	border-left: none;
	max-width: 50%;
	left: 0;
	right: 0;
	margin: auto;
	margin-bottom: 5px;
	text-align: left;
	padding: 5px;
	word-wrap: break-word;
}

footer {
	right: 10px;
	bottom: 10px;
	float: right;
}

textarea {
	font-size: 16px;
	resize: none;
}

.submitButton {
	background-image: url(/img/arrow.gif);
	border: none;
	width: 40px;
	height: 40px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	position: relative;
	bottom: 12px;
}