body {
	background-color: #eee;
}

.intro {
	margin-top: 40px;
	margin-bottom: 40px;
}

.center {
	text-align: center;
}

.center img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table {
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

table tr {
	outline: 2px solid black;
}

table th {
	background-color: #277ACE;
	color: #fff;
}