body {
	background-color: black;
	color: white;
	font-family: Arial;
}

.container {
	height: 400px;
	width: 400px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top:-200px;
	margin-left:-200px;
}

input {
	font-size: 16px;
	margin: 5px;
}

.snow {
	position: absolute;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
}

.flag {
	color: white;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}