<h2>Welcome to the secret website where we store secret stuff</h2>
<br>
<br>
Secret Stuff:
<br>
<a href="/static/hidden_directory_1337_781/098c533dc5420628a9f51c1911198c4c.jpg">098c533dc5420628a9f51c1911198c4c.jpg</a>
<br>
<a href="/static/hidden_directory_1337_781/2.jpg">2.jpg</a>
<br>
<a href="/wtf.mp4">wtf.mp4</a>